div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 10px;
}


h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(109, 192, 219)
}

button{
    padding: 10px;
    border-radius: 20px;
    border: 0px ;
    color: white;
    background-color: rgb(8, 9, 58);
    font-size: large;
    transition: 150ms;
}

button:hover{
    background-color: rgb(57, 162, 248);
    color: black;
    font-size: large;
}

li{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    box-shadow: 4px 2px 20px 2px;
}